.location-section {
  height: 500px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 3;
  background-color: var(--background-color);
  box-shadow: var(--section-box-shadow);
  padding: 40px;
}

.location-section h1 {
  text-align: center;
  color: black;
  margin-bottom: 0;
  line-height: 56px;
  margin-top: 15px;
}

.location-section-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location-section-details div {
  min-width: 320px;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border-width: 3px 3px 5px 5px;
  border: black solid;
  margin: 0px 12px;
}

.location-section-map {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-api {
  background-image: url("placeholdermap.PNG");
  background-size: 100% 100%;
  height: 400px;
  width: 400px;
}

.location-section p {
  text-align: center;
}

@media screen and (max-width: 1079px) {
  .location-section {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .location-section-api {
    width: 100%;
    height: 320px;
  }
  .map-api {
    margin-top: 20px;
    margin-bottom: 80px;
    height: 320px;
    width: 320px;
  }
  .location-section-details {
    margin-top: 40px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .location-section-details div {
    padding: 10px;
    margin-top: 30px;
  }
}
