.category-page {
}

.category-page div {
  display: flex;
  flex-wrap: wrap;
}
.menu-category {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
