.item-card {
  height: var(--card-height);
  background-color: white;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: auto 100%;
  display: flex;
  text-align: center;
  box-shadow: var(--box-shadow);
  margin-bottom: 32px;
  justify-content: space-between;
}

@media screen and (max-width: 575px) {
  .item-card {
    width: 320px;

    --card-height: 120px;
  }

  .item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .item-card {
    width: 320px;
    --card-height: 180px;
  }

  .item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .item-card {
    width: 480px;
    --card-height: 240px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.item-card-main {
  display: flex;
}
.item-card {
}

.item-card-image img {
  height: var(--card-height);
  width: var(--card-height);
  border-right: 0.5px grey solid;
}

.item-card h2 {
  font-weight: normal;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.item-card p {
  font-size: 1.25 rem;
  margin: 0;
}

.add-cart-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: black 1px solid;
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.add-cart-button svg {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .add-cart-button:hover {
    background-color: var(--background-color-2);
  }
}

@media screen and (max-width: 767px) {
  .add-cart-button:active {
    background-color: var(--background-color-2);
  }
}
