.item-card {
  width: 320px;
  height: auto;
  background-color: white;
  border: black 2px solid;
  overflow: hidden;
  margin: 12px;
}

.item-card-main {
  display: flex;
}
.item-card {
}

.item-card-img {
}

.item-card h2 {
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}

.item-card p {
  font-size: 1.25 rem;
}

.modal {
  width: 80vw;
  height: 80vh;
  background-color: red;
  z-index: 10;
  position: fixed;
  text-align: center;
  top: 10%;
}
