.modal {
  width: 100svw;
  height: 100svh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  box-sizing: border-box;
  border: none;
  padding: 0;
}

.modal-background {
  width: 100lvw;
  height: 100lvh;
  background-color: grey;
  opacity: 30%;
}

.modal-content {
  transform: translate(-50%, -50%);
  position: absolute;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: white;
  box-sizing: content-box;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.modal-info {
  display: block;
}

.modal h2 {
  font-weight: normal;
  font-size: 2rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
}

.close-button:hover {
  background-color: var(--background-color-2);
  color: var(--logo-red);
}

.modal-content-image {
  width: 100%;
  height: 40%;
  position: relative;
  background-color: var(--light-grey);
}
.modal-content-image img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1080px) {
  .modal-content {
    display: flex;
    flex-direction: row;
  }
  .modal-content-image {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: var(--light-grey);
  }
  .modal-info {
    width: 50%;
  }
}
