.menu-item-box {
  position: relative;
  margin: 6px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border-width: 3px 3px 5px 5px;
  border: black solid;
}

@media screen and (max-width: 1079px) {
  .menu-item-box {
    height: 180px;
    width: 320px;
  }
}

@media screen and (min-width: 1080px) {
  .menu-item-box {
    height: 225px;
    width: 400px;
  }
}

.menu-item-title {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.menu-item-description {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}

.menu-item-image {
  height: 100%;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.menu-item-image:hover {
  filter: blur(0px);
}

.fill-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-details {
  transition: opacity 0.5s;
}

.menu-item-details:hover {
  opacity: 0%;
}

.menu-item-title-box {
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-description-box {
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.blur-layer {
  background-color: #ffffff;
  opacity: 60%;
  border-radius: var(--border-radius);
}
