.book-table-page {
  height: auto;
  width: 100%;
}

.book-table-header {
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.1fr;
}

.book-table-page h1 {
  margin-top: 0px;
  text-align: center;
}
.book-table-grid {
  display: grid;
  height: auto;
  width: 100%;
  grid-template-columns: 0.75fr 1fr 0.1fr;
  margin-bottom: 100px;
}

.book-table-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-spacer {
  width: 100%;
  height: auto;
}

.book-table-form {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 30px 40px;
  box-shadow: var(--box-shadow);
}

.book-table-input {
  height: 1.5rem;
  width: 200px;
  border: 1px black solid;
  margin-bottom: 12px;
}

.book-table-input:valid {
  border: green 1px solid;
}

.book-table-input:not(:placeholder-shown):invalid {
  border: red 1px solid;
}
.book-table-input-label {
  font-size: 1.25rem;
}

.submit-button {
  height: 3.5rem;
  width: 7rem;
  background-color: var(--brown);
  border: none;
  box-shadow: var(--box-shadow);
  font-size: 1.25rem;
  color: white;
  margin-top: 12px;
  cursor: pointer;
  border-radius: var(border-radius);
}

.submit-button:hover {
  animation: var(--tilt-animation);
}
@media screen and (max-width: 1079px) {
  .book-table-header {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .book-table-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .book-table-content {
    position: relative;
    width: 100%;
  }
  .map-spacer {
    width: 80%;
    height: auto;
  }
  .book-table-form {
    margin-bottom: 80px;
  }
  .book-table-page h1 {
    text-align: center;
    margin-bottom: 0px;
  }
}

.form-top {
}
