.link-button:hover {
  animation: tilt 0.2s;
}

.link-button {
  text-decoration: none;
  color: white;
  display: inline-block;
  background-color: var(--brown);

  text-align: center;
  margin: 20px;
  margin-top: 30px;
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 768px) {
  .link-button {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 1.25rem 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .link-button {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    padding: 1.125em 1.25rem;
  }
}

@media screen and (min-width: 1080px) {
  .link-button {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    padding: 1.5rem 1.25rem;
  }
}
