.menu-navbar {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.menu-navbar-content {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  margin: 0px 18.75px;
}

@media screen and (max-width: 767px) {
  .menu-navbar-content {
    border: 2px black solid;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
    align-items: left;
    box-shadow: var(--box-shadow);
  }

  .menu-navbar-content a {
    background-color: white;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-wrap: nowrap;
    padding: 8px 10px;
  }

  .menu-navbar-content a:active {
    background-color: grey;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .menu-navbar-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .menu-navbar-content a {
    background-color: white;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-wrap: nowrap;
    padding: 8px 10px;
    margin: 8px;
    border: black solid 2px;
  }

  .menu-navbar-content a:hover {
    background-color: grey;
    cursor: pointer;
  }
}

.current-category {
  background-color: var(--background-color-2) !important;
}
