.menu-navbar {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.menu-navbar-content {
  width: 100%;
  display: flex;
  margin: 0px 18.75px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu-navbar-content {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
    align-items: left;
    box-shadow: var(--box-shadow);
    margin: 0px;
    background-color: var(--light-grey);
  }

  .menu-navbar-content a {
    background-color: white;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-wrap: nowrap;
    padding: 8px 10px;
    white-space: nowrap;
    word-wrap: break-word;
    border-radius: var(--border-radius);
    margin-right: 8px;
  }
  .menu-navbar-content a:last-child {
    border: none;
  }

  .menu-navbar-content a:active {
    background-color: grey;
    cursor: pointer;
  }

  .menu-navbar-content .arrow-buffer {
    display: inline-block;
    background-color: white;
    width: 40px;
    content: "";
    height: 45px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-navbar-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .menu-navbar-content a {
    background-color: white;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    font-size: 24px;
    color: black;
    text-wrap: nowrap;
    padding: 8px 10px;
    margin: 8px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  .menu-navbar-content a:hover {
    background-color: var(--background-color-2);
    color: red;
    cursor: pointer;
  }
}

.current-category {
  border-bottom: red solid 2px;
}
